/*****************************
61 - Utilities - Common
*****************************/

/*-- Global Overlay --*/

.fp-global-overlay{
	@extend %basetransition;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba($heading-color, .7);
	z-index: 1000;
	@extend %invisible;
	&.overlay-open{
		@extend %visible;
	}
}

/*-- Image With Video Button --*/

.image-with-video-btn{
	@extend %posrelative;
	.video-popup{
		@extend %absCenter;
	}
}

/*-- Home Contact Info --*/

.home-contact{
	@extend %flexbox;
	@extend %align-center;
	&__icon{
		line-height: 0;
	}
	&__info{
		padding-left: 15px;
	}
	&__small{
		@extend %displayBlock;
		@extend %white-color;
		@extend %fontSize14;
		line-height: 1.2;
		padding-bottom: 5px; 
	}
	&__big{
		@extend %displayBlock;
		@extend %white-color;
		font-size: 20px;
		line-height: 1;
	}
	&:hover{
		.icon-hover-1{
			i{
				&.bg--white-light{
					background-color: rgba(255, 255, 255, .2);
				}
			}
		}
	}
}

/*-- Callback Box --*/

.callback-box{
    padding-top: 45px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
	z-index: 2;
	@extend %white-bg-color;
	@extend %posrelative;
	@include border-radius(6px);
	@include box-shadow(0px 0px 8px 0px rgba(0, 0, 0, 0.1));
	&.border-radius-top{
		@include border-radius(6px 6px 0 0);
	}
}

/*-- Fun Fact --*/

.fact{
	.counter{
	    font-size: 6rem;
	    line-height: 1.1;
	    margin-bottom: 0;
	    @extend %fontWeight400;
	    @include breakpoint(small){
	    	font-size: 7rem;
	    }
	}
}

/*-- Pagination --*/

.pagination{
	@extend %justify-center;
	li{
		&:not(:last-child){
			margin-right: 10px;
		}
		.page-number{
			@include circle(50);
			font-size: 14px;
			text-align: center;
			line-height: 50px;
			display: block;
			position: relative;
			background: #f0f0f0;
			border: none;
			@extend %basetransition;
			@extend %heading-color;

			&.current, &:hover{
				@extend %white-color;
				@extend %heading-bg-color;
			}
			&.prev,
			&.next{
				background-color: transparent;
				&:hover{
					background-color: transparent;
					@extend %heading-color;
				}
			}
		}
	}
}

/*-- Tooltip --*/

.tooltip{
	@include breakpoint(small){
		display: none;
	}
	margin-bottom: 5px;
	&:hover{
		display: none;
	}
	&-inner{
		color: #fff;
		padding: 3px 10px;
		font-size: 13px;
	}
	.arrow{
		&:before, 
		&:after{
			border-left-color: transparent;
			border-right-color: transparent;
			border-top-color: #000;
		}
	}
}

/*-- Quantity --*/

.quantity{
	@extend %heading-color;
	@extend %posrelative;
	font-size: 20px;
	font-weight: 500;
	width: 106px;
	height: 43px;
	line-height: 41px;
	&-label{
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 600;
		margin-right: 20px;
		@extend %heading-color;
	}
	&-input{
	    background-color: $color-white;
		 border: 1px solid $border-color-3;
	    width: 100%;
	    height: 100%;
	    font-size: 14px;
	    text-align: center;
	    @extend %heading-color;
		@include appearance(none);
		@include placeholder(){
			color: $heading-color;
		}
	}
	.qtybutton {
	    position: absolute;
	    height: 100%;
	    line-height: 43px;
	    cursor: pointer;
	    width: 14px;
	    font-size: 14px;
	    font-family: sans-serif;
	    top: 0;
	    text-align: center;
	    font-weight: 600px;
	    @extend %heading-color;
		@include transition(all .3s ease-in);
	    &.inc{
			right: 20px;
	    }
	    &.dec{
		    left: 20px;	
	    }
	}
}

/*-- Rating --*/

.star-rating{
    display: block;
	overflow: hidden;
	position: relative;
	height: 14px;
	line-height: 14px;
	letter-spacing: 2px;
	font-size: 14px;
	width: 90px;
	font-family: 'fontAwesome';
	direction: ltr;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #d3ced2;
    &:before{
		content: "\f006\f006\f006\f006\f006";
		float: left;
		top: 0;
		left: 0;
		position: absolute
    }
	span{
	    color: $color-yellow;
	    overflow: hidden;
	    float: left;
	    top: 0;
	    left: 0;
	    position: absolute;
	    padding-top: 15px;
	    height: 0;
	    &:before{
			content: "\f005\f005\f005\f005\f005";
			top: 0;
			position: absolute;
			left: 0;
	    }
	}
	&.star{
		&-five{
			span{
				width: 100%;
			}
		}
		&-four{
			span{
				width: 80%;
			}
			&-half{
				span{
					width: 90%;
				}
			}
		}
		&-three{
			span{
				width: 60%;
			}
			&-half{
				span{
					width: 70%;
				}
			}
		}
		&-two{
			span{
				width: 40%;
			}
			&-half{
				span{
					width: 50%;
				}
			}
		}
		&-one{
			span{
				width: 20%;
			}
			&-half{
				span{
					width: 50%;
				}
			}
		}
		&-half{
			span{
				width: 10%;
			}
		}
	}
}

/*-- Google Map --*/

#google-map{
	height: 300px;
	border: 5px solid #f7f7f7;
}

/*-- Mailchimp Alerts --*/

.mailchimp-alerts{
	div:not(:empty){
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.mailchimp{
		&-error{
			color: $color-red;
		}
		&-success{
			color: $color-green;	
		}
	}
}

/*-- Breadcrumb --*/

.page-title-area{
	@extend %posrelative;
	&:after{
		@extend %pseudo;
		@extend %width100;
		@extend %height100;
		left: 0;
		top: 0;
		background-color: rgba(0,0,0,0.7);
		z-index: 1;
	}
	* {
		z-index: 4;
	}
}
.page-title{
	font-size: 40px;
	font-weight: 600;
	@extend %white-color;
	@include breakpoint(medium){
		font-size: 30px;
	}
}
.breadcrumb{
	background-color: transparent;
	padding: 25px 0;
	margin-bottom: 0;
	border-bottom: 2px solid $border-color;
	@include border-radius(0);
	@include breakpoint(small){
		padding: 20px 0;
	}
	li{
		@extend %posrelative;
		&:not(:last-child){
		    margin-right: 10px;
		    padding-right: 15px;
			&:after{
				@extend %fontAwesome;
				margin-left: 10px;
				content: "\f0da";
				font-size: 12px;
				top: 50%;
				transform: translateY(-50%);
				@extend %body-color;
			}
		}
		a, span{
			@extend %body-color;
		}
	}
}

/*-- Text Block --*/

.text-bg-block{
    background: #EEEEEE;
    border: 1px solid #dddddd;
    @extend %borderRadius;
    padding: 30px;
}
.text-borderd-block{
    padding: 20px;
    border: 2px solid #EFEFEF;
    @extend %borderRadius; 
}

/*-- Video Block --*/

.fp-video{
    @extend %posrelative;
    overflow: hidden;
	a{
		@extend %displayBlock;
	}
	img{
		width: 100%;
		height: auto;
		z-index: 8;
		@include transition(all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1));
	}
	&:hover{
		img{
			@include transform(scale(1.1));
		}
	}
}
.video-popup{
	@extend %posrelative;
	&:after{
		@extend %absCenter;
		content: '';
		width: 90px;
		height: 90px;
		background: url('../img/icons/video_icon.png') no-repeat scroll center;
	}
}

/*-- Job Listings --*/

.job-listings{
	.search-jobs{
		background: #eee;
		padding: 16px 16px 30px;
	}
	.job-types{
	    font-size: 13px;
	    background: #f9f9f9;
	    border-top: 1px solid #e5e5e5;
	    zoom: 1;
	    li{
	    	@extend %displayInlineBlock;
	    	padding: 8px 16px;
	    	&:not(:last-child){
	    		border-right: 1px solid $border-color-3;
	    	}
	    }
	    label{
	    	@extend %displayBlock;
	    	margin-bottom: 0;
	    }
	    input{
	    	@extend %displayBlock;
	    	@extend %width100;
	    	margin-bottom: 8px;
	    }
	}
	.search-result{
		padding: 16px;
		border-bottom: 1px solid $border-color-3;
	}
}

/*-- List With Icon --*/

.list-with-icon{
	li{
		i{
			@extend %primary-color;
			padding-right: 10px;
		}
	}
}
.listed{
	margin-left: 50px;
	@include breakpoint(medium){
		margin-left: 22px;
	}
	&.disc{
		list-style: disc;
	}
}

/*-- Message Box --*/

.message-box{
	background: $color-white-dark;
    padding: 16px 30px;
    position: relative;
    width: auto;
    word-wrap: break-word;
    border-top: 4px solid #1e85be;
    @extend %flexbox;
    @extend %justify-between;
    @extend %align-center;
    p{
    	@extend %body-color;
    	margin: 0;
    	i{
    		margin-right: 20px;
    		color: $color-green;
    	}
    }
	a{
		@extend %heading-color;
		&:hover{
			@extend %primary-color;
		}
	}
}


/*-- Error Text --*/

.error-content{
	.error-icon{
		@extend %primary-color;
		margin-bottom: 3rem;
		font-size: 17rem;
	}
	h2{
	    font-size: 5rem;
	    letter-spacing: -1px;
	    line-height: 1;
	    margin-bottom: 3rem;
	}
	.searchform-3{
    	width: 100%;
	    max-width: 570px;
	    margin: 3rem auto 0;
	}
}


/*-- About Over Image --*/

.about-over-img{
    margin-top: -70px;
    margin-bottom: -70px;
    @include breakpoint(xlarge){
    	margin-top: 0;
    	margin-bottom: 0;
    }

    &-2{
	    margin-top: -70px;
	    margin-bottom: 0;
	    @include breakpoint(xlarge){
	    	margin-top: 0;
	    }
    }
}

/*-- Contact Info --*/

.contact-info{
	p{
		line-height: 1.9;
		i{
			padding-right: 5px;
		}
	}
}

/*-- Maintenance Mode --*/

.maintenance-area, 
.coming-soon-area{
	height: 100vh;
	@extend %flexbox;
	@extend %align-center;
}
.maintenance, 
.coming-soon{
	h2{
	    font-size: 7rem;
	    @extend %primary-color;
	}
}


/*-- Countdown --*/

.single-countdown{
	&:not(:last-child){
		margin-right: 20px;
	}
	&__time{
		@include circleCenter(95);
		@extend %primary-color;
		@extend %displayBlock;
		@extend %fontWeight700;
		border: 2px solid $primary-color;
		margin-bottom: 20px;
		font-size: 30px;
		@include breakpoint(medium){
			@include circleCenter(75);
			font-size: 25px;
			margin-bottom: 15px;
		}
		@include breakpoint(small){
			@include circleCenter(65);
			font-size: 22px;
			margin-bottom: 10px;
		}
	}
	&__text{
		@extend %heading-color;
		@extend %fontWeight600;
		font-size: 18px;
	}
}

/*-- Scroll To Top --*/

.scroll-to-top{
    position: fixed;
    right: 25px;
    bottom: 25px;
    overflow: hidden;
    z-index: 999;
    color: #fff;    
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    @extend %fontSize16;
    @extend %primary-bg-color;
    @include border-radius(2px);
	i{
		color: $color-white;
		@extend %posrelative;
		&:before{
			@extend %posrelative;
		    top: 0;
		    left: 0;
		    width: inherit;
		    height: inherit;
		    line-height: inherit;
		    @extend %basetransition;
		}
		&:after{
			@extend %fontAwesome;
			content: '\f106';
		    top: 40px;
		    left: 0;
		    width: inherit;
		    height: inherit;
		    line-height: inherit;
		    @extend %basetransition;
		}
	}
    &:hover{
		i{
			&:before{
				top: -40px;
			}
			&:after{
				top: 0;
			}
		}
    }
}
