/*****************************
10 - Layout - Header
*****************************/

/*-- 10.00 - Header --*/
 
.header{
	.logo{
		display: block;
		&--transparent{
			height: 0;
			opacity: 0;
			visibility: hidden;
		}
		&--normal{
			height: auto;
			visibility: visible;
			opacity: 1;
		}
	}
	&__top{
		@extend %fontSize14;
		@extend %athens-gray-bg;
		@extend %dove-gray;
		padding: 15px 0;
		a{
			@extend %dove-gray;
		}
		&-inner{
			@extend %verticalFlexCenter;
			@extend %justify-between;
		}
	}
	&__middle{
		line-height: 1.5;
		padding: 25px 0;
		&-inner{
			@extend %verticalFlexCenter;
			@extend %justify-between;
		}
		&-left{
			@include flex-basis(25%);
			max-width: 25%;
			@include breakpoint(large){
				@include flex-basis(20%);
				max-width: 20%;
			}
			@include breakpoint(medium){
				@include flex-basis(30%);
				max-width: 30%;
			}

		}
		&-middle{
			@include flex-basis(60%);
			max-width: 60%;
			@include breakpoint(large){
				@include flex-basis(65%);
				max-width: 65%;
			}
		}
		&-right{
			@include flex-basis(15%);
			max-width: 15%;
		}
	}
	&__bottom{
		@extend %primary-bg-color;
		&-inner{
			@extend %verticalFlexCenter;
			@extend %justify-between;
		}
		.main-navigation{
			padding-right: 30px;
		}
		.main-navigation, 
		.header__search{
			@include flex(1 0 auto);
		}
	}
	&__toggle{
		&-search{
			i{
				@extend %white-color;
			}
		}
	}
	&__toolbar{
		@extend %flexbox;
		@extend %align-center;
		& > a{
			@include textBoxCenter(35, 35);
			font-size: 20px;
			&:last-child{
				margin-left: 10px
			}
		}
	}
	&__search{
		max-width: 100%;
	}
	&-style-2{
		.header{
			&__middle{
				&-left{
					@include flex-basis(20%);
					max-width: 20%;
					@include breakpoint(small){
						@include flex-basis(30%);
						max-width: 30%;
					}
				}
				&-right{
					@include flex-basis(80%);
					max-width: 80%;
					@include breakpoint(small){
						@include flex-basis(70%);
						max-width: 70%;
					}
				}
			}
		}
	}
	&-style-6{
		.header{
			&__middle{
				&-left{
					@include flex-basis(20%);
					max-width: 20%;
				}
				&-right{
					@include flex-basis(80%);
					max-width: 80%;
				}
			}
		}
	}
	&-transparent{
		@extend %posabsolute;
		left: 0;
		top: 0;
		width: 100%;
		background-color: transparent;
		z-index: 1001;
		.header{
			&__top,
			&__middle,
			&__bottom{
				background-color: transparent;
			}
			&__middle{

			}
			&__bottom{

			}
		}
		.logo{
			&--transparent{
				height: auto;
				visibility: visible;
				opacity: 1;
			}
			&--normal{
				opacity: 0;
				visibility: hidden;
				height: 0;
			}
		}
	}
	.search-btn-2{
		font-size: 25px;
	}
}

/*-- 10.01 - Sticky Header --*/
.sticky-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    margin: 0;
    background-color: $color-white;
    @include animation(fadeInDown .8s ease-in-out);
    @include box-shadow(0 1px 3px rgba(0,0,0,.14));
    .header{
    	&__top{
			display: none !important;
    	}
    	&__middle{
	    	@include breakpoint(largeonly){
	    		display: none;
	    	}
    	}
    	&__bottom{
			@include breakpoint(medium){
				display: none;
			}
    	}
    }
}
.header-style-2{
	.sticky-header{
		.header{
			&__middle{
				display: block;
			}
		}
	    .main-navigation{
	    	.mainmenu{
	    		&.white-color{
					.mainmenu{
			    		&__link{
			    			color: $body-color;
			    		}
					}
	    		}
	    	}
	    }
	}
}
.header-transparent{
	.sticky-header{
		.logo{
			&--transparent{
				height: 0;
				opacity: 0;
				visibility: hidden;
			}
			&--normal{
				height: auto;
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

/*-- 10.02 - Site Info --*/

.site-info{
	@extend %verticalFlexCenter;
	&.vertical{
		@extend %flex-wrap;
		.site-info{
			&__item{
				@include flex-basis(100%);
				max-width: 100%;	
				margin-bottom: 15px;
				i{
					padding-right: 5px;
				}
			}
		}
	}
	&.white-color{
		.site-info{
			&__item{
				i, a{
					@extend %white-color;
				}
			}
			&__title, &__text{
			    @extend %white-color;
			}
		}
	}
	&__item{
		@extend %posrelative;
		@extend %verticalFlexCenter;
		@include flex-basis(33.333%);
		max-width: 33.333%;
		line-height: 1;

		i{
			font-size: 36px;
			@extend %primary-color;
		}
	}
	&__title{
	    @extend %heading-color;
	    font-weight: 600;
	}
	&__title , &__text{
	    display: block;
	    font-size: 15px;
	    line-height: 1.5;
	}
	&__text{
	    color: $color-brown;
	}
	&-2{
		.site-info{
			&__item{
				@extend %displayBlock;
				@extend %maxWidth100;
				@include flex-basis(auto);
				&:not(:last-child){
					margin-right: 20px;
				}
				i{
					font-size: 18px;
					@extend %body-color;
					padding-right: 3px;
				}
			}
			&__text{
				@extend %body-color;
			}
		}
	}
}