/*****************************
23 - Components - Blog
*****************************/

/*-- 23.00 - Mini Blog --*/

.mini-blog{
	&__inner{
		@extend %flexbox;
		@extend %flex-wrap;
	}
	&__thumbnail{
		@extend %posrelative;
		@include flex-basis(270px);
		max-width: 270px;
		@include breakpoint(large){
			@include flex-basis(190px);
			max-width: 190px;
		}
		@include breakpoint(medium){
			@include flex-basis(100%);
			max-width: 100%;
		}
		.image{
			height: 100%;
			img{
				height: 100%;
				width: 100%;
			}
		}
	}
	&__date{
		@extend %posabsolute;
		@extend %primary-bg-color;
		@extend %white-color;
		@extend %absFlexCenter;
		@extend %fontWeight700;
		top: 0;
		right: 0;
		width: 70px;
		height: 70px;
		text-align: center;
		line-height: 1.3;
		text-transform: uppercase;
	}
	&__info{
		@include flex-basis(calc(100% - 270px));
		max-width: calc(100% - 270px);
		background-color: $color-gallery;
		padding: 20px;
		@include breakpoint(large){
			@include flex-basis(calc(100% - 190px));
			max-width: calc(100% - 190px);
		}
		@include breakpoint(medium){
			@include flex-basis(100%);
			max-width: 100%;
		}
	}
	&__title{
	    font-size: 18px;
	    color: $color-shaft;
	    margin-bottom: 10px;
	    @include breakpoint(large){
	    	font-size: 16px;
	    	line-height: 1.5;
	    }
		a{
			@extend %heading-color;
		}
	}
	.read-more{
		display: block;
		margin-top: 12px;
		line-height: 1;
		text-align: left;
	}

	&-style-2{
		.mini-blog{
			&__inner{
				@extend %white-bg-color;
				@extend %align-start;
				padding: 20px;
			}
			&__thumbnail{
				@include flex-basis(130px);
				max-width: 130px;
				@include breakpoint(xxsmall){
					@include flex-basis(100%);
					max-width: 100%;
				}
			}
			&__info{
				@include flex-basis(calc(100% - 130px));
				max-width: calc(100% - 130px);
				@include breakpoint(xxsmall){
					@include flex-basis(100%);
					max-width: 100%;
					padding-left: 0;
					padding-top: 20px;
				}
				@extend %transparent-bg;
				padding: 0;
				padding-left: 20px;
			}
			&__title{

			}
		}
	}

	&-style-3{
		.mini-blog{
			&__inner{
				@extend %displayBlock;
			}
			&__thumbnail{
				max-width: 100%;
				margin-bottom: 20px;
			}
			&__info{
				max-width: 100%;
				@extend %transparent-bg;
				padding: 0;
			}
			&__meta{
				margin-bottom: 12px;
			}
			&__date{
				@extend %posrelative;
				@extend %transparent-bg;
				@extend %fontSize14;
				@extend %displayBlock;
				@extend %fontWeight400;
				@extend %primary-color;
				@extend %widthAuto;
				@extend %heightAuto;
				@extend %textLeft;
				@extend %textCap;

				i{
					padding-right: 5px;
				}
			}
			&__title{
				line-height: 1.3;
			}
		}
	}
}

/*-- 23.01 - Post --*/

.post{
	border-bottom: 2px solid $border-color;
	margin-bottom: 4rem;
	padding-bottom: 4rem;
	&__thumbnail{
		@extend %posrelative;
		margin-bottom: 3.3rem;
		a{
			display: block; 
		} 
		img{
			@extend %width100;
		}
	}
	&__date{
		@extend %posabsolute;
		@extend %primary-bg-color;
		@extend %white-color;
		@extend %textCenter;
		@include border-radius(50%);
		top: 30px;
		left: -45px;
		width: 90px;
		height: 90px;
		padding: 15px 0;
		line-height: 1.2;
		@include breakpoint(xclarge){
			left: -12px;
		}
		@include breakpoint(medium){
			width: 70px;
			height: 70px;
			padding: 12px 0;
		}
		strong{
			@extend %displayBlock;
			font-size: 30px;
			@include breakpoint(medium){
				font-size: 25px;
			}
		}
		span{
			@extend %textUpper;
		}
	}
	&__title{
	    word-wrap: break-word;
	    @include hyphens(auto);
	    font-size: 34px;
	    line-height: 1.3;
	    margin-bottom: 1.5rem;
	    @include breakpoint(large){
	    	font-size: 32px;
	    }
	    @include breakpoint(medium){
	    	font-size: 30px;
	    }
	    @include breakpoint(small){
	    	font-size: 25px;
	    }
	    @include breakpoint(xsmall){
	    	font-size: 22px;
	    }
	}
	&__entry-meta{
	    @extend %heading-color;
	    margin-bottom: 2.3rem;
		span{
			&:not(:last-child){
				margin-right: 20px;
				@include breakpoint(xsmall){
					margin-right: 0;
				}
			}
			a{
				@extend %primary-color;
				@extend %fontWeight600;
			}
			i{
				margin-right: 5px;
			}
			@include breakpoint(xsmall){
				display: block;
			}
		}
	}
	&__footer-meta{
		@include flexbox;
		@include align-items(center);
		margin-top: 3rem;
		@include breakpoint(medium){
			margin-top: 3.5rem;
		}
		@include justify-content(space-between);
		@include breakpoint(xsmall){
			@include flex-direction(column);
			@include align-items(flex-start);
		}
	}
	&__sharing{
		@extend %verticalFlexCenter;
		@include breakpoint(xsmall){
			margin-top: 10px;
		}
		span{
			@extend %fontWeight600;
			color: #666666;
			margin-right: 10px;
		}
	}
	&-grid{
		padding-bottom: 3.5rem;
		.post{
			&__thumbnail{
				margin-bottom: 3rem;
			} 
			&__title{
				font-size: 20px;
			}
			&__date{
			    width: 70px;
			    height: 70px;
			    left: -15px;
			    top: 15px;
				strong{
				    line-height: 1;
				    font-size: 24px;
				}
				span{
    				font-size: 13px;
				}
			}
			&__entry-meta{
				margin-bottom: 1.8rem;
			}
		}
	}
}
