/*****************************
25 - Components - Carousel
*****************************/


/*-- 25.00 - Carousel Helper --*/

.slick{
	&-btn,
	&-arrow{
		cursor: pointer;
		z-index: 1;
		display: inline-block;
		@extend %basetransition;
	}
}

/*-- 25.01 - Carousel Gutter --*/

@for $i from 1 through 20{
	.slick-gutter-#{$i * 5}{
		.slick-list{
			margin-left: -#{($i * 5)/2}px;
			margin-right: -#{($i * 5)/2}px;
		}
		.slick-slide{
			padding-left: #{($i * 5)/2}px;
			padding-right: #{($i * 5)/2}px;
		}

		&.slick-vertical{
			.slick-list{
				margin-top: -#{($i * 5)/2}px;
				margin-bottom: -#{($i * 5)/2}px;
				margin-left: 0;
				margin-right: 0;
				@include breakpoint(small){
					margin-left: -#{($i * 5)/2}px;
					margin-right: -#{($i * 5)/2}px;
					margin-left: 0;
					margin-right: 0;
				}
			}
			.slick-slide{
				padding-top: #{($i * 5)/2}px;
				padding-bottom: #{($i * 5)/2}px;
				padding-left: 0;
				padding-right: 0;
				@include breakpoint(small){
					padding-left: #{($i * 5)/2}px;
					padding-right: #{($i * 5)/2}px;
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}
	}
}

@for $i from 1 through 20{
	@include breakpoint(xlarge){
		.slick-gutter-xl-#{$i * 5}{
			margin-left: -#{($i * 5)/2}px;
			margin-right: -#{($i * 5)/2}px;
			.slick-slide{
				padding-left: #{($i * 5)/2}px;
				padding-right: #{($i * 5)/2}px;
			}
		}
	}
}

/*-- 25.02 - Slick Dot Margin Bottom --*/

@for $i from 1 through 20{
	.slick-dot-mb-#{$i * 5}{
		.slick-dots{
			margin-top: #{($i * 5)}px !important;
		}
		.slick-btn{
			margin-top: #{($i * 5)}px !important;
		}
	}
}

@for $i from 1 through 20{
	@include breakpoint(medium){
		.slick-dot-mb-md-#{$i * 5}{
			.slick-dots{
				margin-top: #{($i * 5)}px !important;
			}
		}
	}
}


/*-- 25.03 - Carousel Nav --*/

.fp-element-carousel{
	@extend %posrelative;
}
$slick-btn-width: 68px;
$slick-btn-width-md: 45px;
.slick{
	&-btn{
		border-width: 1px;
		border-color: rgb(238, 238, 238);
		border-style: solid;
		@extend %white-bg-color;
		@extend %body-color;
		@extend %basetransition;
		width: $slick-btn-width;
		height: 56px;
		line-height: 54px;
		display: inline-block;
		text-align: center;
		cursor: pointer;
		font-size: 18px;
		@include breakpoint(medium){
			width: $slick-btn-width-md;
			height: $slick-btn-width-md;
			line-height: $slick-btn-width-md;
			font-size: 16px;
		}
		&:hover{
			@extend %primary-color;
		}
	}
	&-dots{
		line-height: 0;
		text-align: center;
		li{
			display: inline-block;
		    @include circle(15);
		    position: relative;
			margin: 0 5px;
			cursor: pointer;
			padding: 0;
			button{
			    font-size: 0;
			    display: block;
			    width: 100%;
			    height: 100%;
			    @include border-radius(50%);
			    padding: 0;
			    cursor: pointer;
			    @extend %transparent-bg;
			    border: 2px solid #aaa;
			    @extend %basetransition;
			    &:hover{
			    	border-color: $color-white;	
			    }
			}
			&.slick-active{
				button{
					border-color: $color-white;	
				}
			}
		}
	}
	&-dot{
		&-right{
			.slick-dots{
				text-align: right;
			}
		}
		&-style{
			&-2{
				.slick{
					&-dots{
						li{
							button{
								&:hover{
									border-color: $heading-color
								}
							}
							&.slick-active{
								button{
									border-color: $heading-color;	
								}
							}
						}
					}
				}
			}
		}
	}
}
.nav{
	&-vertical-center{
		.slick{
			&-btn{
				@extend %verticalCenter;
			}
			&-prev{
				left: 0;
			}
			&-next{
				right: 0;
			}
		}
	}
}

.homepage-slider{
	.slick{
		&-dots{
			@extend %posabsolute;
			@extend %width100;
			bottom: 30px;
			li{
				&.slick-active{
					button{
						border-color: #fafafa;
					}
				}
			}
		}
	}
}
