/*****************************
29 - Components - Modal
*****************************/

/*-- 29.00 - Quick View Modal --*/

.modal {
	display: block !important;
	@extend %invisible;
	z-index: -9;
	padding-right: 0 !important;
}
.modal.show {
	@extend %visible;
	z-index: 1050;
}
.product-modal{
	.modal-dialog{
		max-width: 100%;
		width: 1125px;
		margin: 75px auto 50px;
		background: #fff;
		@include breakpoint(xclarge){
			max-width: 95%;
			width: 1025px;
		}
		@include breakpoint(medium){
		    width: auto;
		    max-width: 95%;
		}
		@include breakpoint(small){
		    width: auto;
		    max-width: 95%;
		    margin: 30px auto;
		}
	}
	.modal-box{
		padding-top: 65px;
		padding-right: 50px;
		@include breakpoint(small){
			padding: 50px 40px;
		}
	}	
	.modal-content{
	    border: none;
	    border-radius: 0;
	    background-color: transparent; 
	}
	.modal-body{
	    padding: 0;
	}
	.product{
		&-image{
			@extend %posrelative;
			img{
				width: 100%;
			}
		}
	}
	.close{
		padding: 5px;
		border: 0;
		right: 0;
		background: $color-black;
		opacity: 1;
		text-shadow: 0 0 0 $color-black;
		color: $color-white;
		z-index: 9;
		@extend %basetransition;
		@extend %posabsolute;
		i{
			font-size: 34px;
		}
		&:hover{
			opacity: 1 !important;
			color: $color-white !important;
		}
	}
}
.custom-close{
	background-color: #292929 !important;
	position: absolute;
	right: 0 !important;
	top: 0 !important;
	text-align: center !important;
	font-size: 32px;
	line-height: 1;
	display: block;
	padding: 18px !important;
	color: #fff !important;
	font-weight: 300;
	text-shadow: 0 0 0 #fff;
	opacity: 1 !important;
	width: 60px !important;
	height: 60px !important;
	@include breakpoint(medium){
		left: auto;
		top: 0 !important;
		bottom: 100% !important;
		right: 0 !important;
	}
    i{
	    display: inline-block;
	    vertical-align: middle;
	    @extend %basetransition;
	    &.mfp-close {
		    width: auto !important;
		    height: auto;
		    font-size: 32px !important;
		    line-height: 60px;
		    position: absolute;
		    right: 50%;
		    top: 0;
		    margin-right: -18px;
		    text-decoration: none;
		    text-align: center;
		    opacity: 1;
		    padding: 0;
		    font-style: normal;
		    font-size: inherit;
		    font-family: "Pe-icon-7-stroke" !important;
		}
    }
    &:hover{
    	i{
    		@extend %primary-color;
    		text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    	}
    }
}

/*-- 29.01 - Search Popup --*/

.popup-search{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    @extend %absFlexCenter;
    @extend %invisible;
    @extend %basetransition;
    &.open{
    	@extend %visible;
    	.popup-search__body{
    		margin-top: 0;
    	}
    }
	&__body{
		margin-top: 200px;
		width: 90%;
		max-width: 460px;
		text-align: center;
		@extend %posrelative;
		@extend %basetransition;
		p{
			@extend %white-color;
			margin-top: 20px;
		}
		.btn-close{
			@extend %posabsolute;
			@extend %white-color;
			right: 0;
			top: -40px;
		}
	}
}


