/*****************************
30 - Components - Navigation
*****************************/

/*-- 30.00 - Main Navigation --*/
.main-navigation{
	.mainmenu{
		line-height: .8;
		&__item{
			@include breakpoint(largeonly){
				display: inline-block;
				padding: 22px 0px 22px 0px;
			}
			&:not(:last-child){
				@include breakpoint(largeonly){
					margin-right: 15px;
				}
				@include breakpoint(xlargeonly){
					margin-right: 23px;
				}
				@include breakpoint(xxlargeonly){
					margin-right: 30px;
				}
			} 
			&:nth-last-child(-n+4){
				&.menu-item-has-children{
					& > ul{
						@include breakpoint(largeonly){
							left: auto;
							right: 0;
						}
						.sub-menu{
							@include breakpoint(largeonly){
								left: auto;
								right: 100%;
								margin-left: 0;
								margin-right: 15px;
							}
						}
					}
				}
			}
			&.active{
				& > a{
					@include breakpoint(largeonly){
						color: $color-white;
					}
				}
			}
			&.menu-item-has-children{
				& > a{
					@extend %posrelative;
					&:after{
						font-family: fontAwesome;
						line-height: 1;
					    content: '\f0d7';
					    margin-left: 6px;
					    color: inherit;
					    font-size: 12px;
					}
				}
				& > ul{
					@include breakpoint(largeonly){
						position: absolute;
					    left: 0;
						top: 250%;
						background: #fff;   
						min-width: 240px;
						padding: 0 15px;
						z-index: 9; 
						pointer-events:none;
						@include box-shadow(0px 1px 4px 0px rgba(0, 0, 0, 0.2));
						@include white-space(nowrap);
						@include transition(all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1));
						visibility: hidden;
						opacity: 0;
					}
					@include breakpoint(xlargeonly){
						left: 0 !important;
					}
					li{ 
						padding: 15px 0;
						&:not(:last-child){
							border-bottom: 1px solid $border-color-3;
						}
						a{
							@include breakpoint(largeonly){
								color: $heading-color;
								display: block;
							}
							&:hover{
								@include breakpoint(largeonly){
							    	color: $primary-color;
								}
							}
						}
					} 
					&.megamenu{
						@include breakpoint(largeonly){
							@include white-space(nowrap);
							width: 100%;
						}
						& > li{
							@include breakpoint(largeonly){
								text-align: left;
							}
							i{
								margin-right: 5px;
							}
							&:hover{
								span{
									@include breakpoint(largeonly){
										@include transform(translateY(0));
									}
								}
							}
						}
						.megamenu-image{
							@include breakpoint(largeonly){
								margin-bottom: -15px;
								text-align: center;
							}
						}
					}
					.sub-menu{
						@include breakpoint(largeonly){
							position: absolute;
							top: 0%;
							left: 100%;
							background: #fff;   
							min-width: 240px;
							padding: 0 15px;
							margin-left: 15px;
							z-index: 9; 
							pointer-events:none;
							@include box-shadow(0px 1px 4px 0px rgba(0, 0, 0, 0.2));
							@include white-space(nowrap);
							@include transition(all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1));
							visibility: hidden;
							opacity: 0;
						}
						@include breakpoint(xlargeonly){
							left: 100% !important;
							margin-left: 15px !important;
						}
					}
					&.sub-menu{
						@include breakpoint(largeonly){
							text-align: left;
							z-index: 99999;
							position: absolute;
						}
						li{
							&:hover{
								ul{
									@include breakpoint(largeonly){
										visibility: visible;
										pointer-events: visible;
										opacity: 1;
									}
								}
							}
							a{
								@include breakpoint(largeonly){
									text-transform: capitalize;
								}
							}
						}
					}
				}
				&:hover{
					& > ul{
						@include breakpoint(largeonly){
							pointer-events: visible;
							top: 100%;
							visibility: visible;
							opacity: 1;
						}
					}
				}
				ul{
					li{
						&.menu-item-has-children{
							& > a{
								@extend %posrelative;
								&:after{
									font-family: fontAwesome;
									line-height: 1;
								    content: '\f0da';
								    margin-left: 0;
								    color: inherit;
								    font-size: 12px;
								    right: 0;
								    position: absolute;
								    top: 3px;
								}
							}
							&:before{
								@extend %pseudo;
								right: -15px;
								width: 15px;
								height: 100%;
								top: 0;
							}
						}
					}
				}
			}
		}
		&__link{
			@include breakpoint(largeonly){
				color: $color-white;
				display: block;
				font-weight: 700;
				font-size: 15px;
			}
			@include breakpoint(xlargeonly){
				font-size: 16px;
			}
		}
		li{
			@include breakpoint(largeonly){
				position: relative;
			}	
			.sub-menu{
				@include breakpoint(largeonly){
					display: block;
					background: $color-white;
				}
			}
			ul{
				@include breakpoint(largeonly){
					@include transition(all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1));
				}
			}
			& > a{
				@include breakpoint(largeonly){
				    line-height: 1;
				    z-index: 1;
				    display: block;
				    overflow: hidden;
				}
				&:hover{
					span{
						@include breakpoint(largeonly){
							@include transform(translateY(-100%));
						}
					}
				}
				span{
					@include breakpoint(largeonly){
						position: relative;
						display: inline-block;
						transition: transform 0.3s;
					}
					&:before{
					    position: absolute;
					    top: 100%;
					    content: attr(data-hover);
					    transform: translate3d(0, 0, 0);
					}
				}
			}
		}
		&-2{
			text-align: right;
			.mainmenu{
				&__item{
					&:not(:last-child){
						@include breakpoint(largeonly){
							margin-right: 19px;
						}
					}
					&:nth-last-child(-n+5){
						&.menu-item-has-children{
							& > ul{
								@include breakpoint(largeonly){
									left: auto !important;
									right: 0;
								}
								.sub-menu{
									@include breakpoint(largeonly){
										left: auto !important;
										right: 100%;
										margin-left: 0 !important;
										margin-right: 15px;
									}
								}
							}
						}
					}
				}
			}
		}
		&-centered{
			text-align: center;
			.mainmenu{
				&__item{
					&.menu-item-has-children{
						& > ul{
							&.sub-menu{
								left: 50%;
								@include transform(translateX(-50%));
							}
						}
					}
				}
			}
		}
		&.primary-color{
			.mainmenu{
				&__link{
					@include breakpoint(largeonly){
						color: $primary-color;
					}
				}
			}
		}
		&.white-color{
			.mainmenu{
				&__link{
					@include breakpoint(largeonly){
						color: $color-white;
					}
				}
			}
		}
	}
}

/*-- 30.01 - Off Canvas Menu --*/

.offcanvas-menu-wrapper{
	.offcanvas-menu-inner{
	    position: fixed;
	    top: 0;
	    left: -265px;
	    width: 265px;
	    height: 100%;
	    z-index: 9999;
	    overflow-x: hidden;
	    overflow-y: auto;
	    padding: 15px;
	    @extend %white-bg-color;
	    @extend %invisible;
	    @extend %basetransition;
	}
	&.open{
		.offcanvas-menu-inner{
			left: 0;
			@extend %visible;
		}
	}
	.btn-close{
	    display: block;
	    position: absolute;
	    top: 0;
	    right: 14px;
	    font-size: 60px;
	    z-index: 100;
	    cursor: pointer;
	    line-height: 1;
	}
}

.offcanvas-navigation{
	padding-top: 60px;
	.offcanvas-menu{
		& > li{
			height: 100%;
			& > a{
			    span{ 
			    	@extend %posrelative;
			    }
			}
		}
		li {
			@extend %posrelative;
			border-bottom: 1px solid $border-color-3;
			& > .menu-expand{
			    position: absolute;
			    right: 0;
			    top: -1px;
			    width: 50px;
			    height: 100%;
			    line-height: 50px;
			    cursor: pointer;
			    text-align: center;
			    margin-right: 4px;
			    color: $color-light;
			    @extend %basetransition;
			}
			a{
			    font-size: 14px;
			    font-weight: 400;
			    text-transform: capitalize;
			    color: $color-black;
			    display: block;
			    padding: 15px 0;
				line-height: 1;
			}
			.sub-menu{
				padding-left: 10px;
				li{
					&:last-child{
						border-bottom-width: 0px;
					}
				}
			}
			&.menu-open{
				& > .menu-expand{
					i{
						&:before{
							content: '\f106';
						}
					}
				}
			}
			&:hover{
				& > a{
					color: $primary-color !important;
				}  
				& > .menu-expand{
					color: $primary-color !important;
				}
			}
		}
	}
	.site-info{
		margin-top: 35px;
	}
	.social{
		margin-top: 32px;
	}
}

/*-- 30.02 - Top Menu --*/

.top-menu{
	li{
		display: inline-block;
		&:not(:last-child){
			padding-right: 20px;
		}
	}
	&.white-color{
		li{
			a{
				color: $color-white;
			}
		}
	}
}