/*****************************
31 - Components - Product
*****************************/

/*-- 31.00 - Global Proudct --*/

.product{
	&-thumbnail{
		@extend %posrelative;
	    background: #EEEEEE;
	    width: 100%;
	    text-align: center;
	    padding: 60px;
	    margin-bottom: 15px;
	    @include breakpoint(xsmall){
	    	padding: 70px;
	    }
	    img{
	    	width: 100%;
	    }
		.quick-view{
			@extend %posabsolute;
			top: 10px;
			right: 10px;
			@include textBoxCenter(30, 30);
			@include border-radius(2px);
		    background-color: #dedede;
		    color: #777;
		    cursor: pointer;
		    i{
		    	@extend %basetransition;
		    }
		    &:hover{
		    	@extend %primary-bg-color;
		    	i{
					@extend %white-color;
		    	}
		    }
		}
	}
	&-label{
		@extend %posabsolute;
	    @extend %primary-bg-color;
	    @extend %fontSize14;
	    @extend %fontWeight300;
	    @extend %textCenter;
	    @extend %white-color;
	    @include border-radius(2px);
	    top: 10px;
	    left: 25px;
	    height: 30px;
	    line-height: 30px;
	    padding: 0 10px;
	}
	&-info{

	}
	&-title{
		@extend %fontSize16;
		@extend %fontWeight600;
		line-height: 22px;
		margin-bottom: 5px;
	}
	&-price{
		span{
			@extend %price;
			&.old-price{
				@extend %oldprice;
			}
			&.money-separator{
				@extend %priceSeparator;
			}
		}
	}
}

.fp-product{
	.star-rating{
		margin-top: 11px;
	}
	.add-to-cart-btn,
	.read-more-btn-2{
		margin-top: 10px;
	}
}


/*-- 31.01 - Proudct Summary --*/

.product-summary{
	.product{
		&-large-image{
			@extend %posrelative;
		}
		&-navigation{
			a{
				border-width: 1px solid $border-color-3;
				display: inline-block;
				@include box-shadow(0px 0px 11.83px 1.17px rgba(72, 72, 72, 0.13));
				width: 38px;
				height: 31px;
				text-align: center;
				line-height: 31px;
				background-color: $color-white;
				font-size: 18px;
				@extend %body-color;
				&:hover{
					@extend %primary-color;
				}
				&.next{
					margin-left: 5px;
				}
			}
		}
		&-rating{
			.star-rating{
				margin-left: 0;
			}
		}
		&-title{
			font-size: 36px;
			font-weight: 400;
			line-height: 1;
			@include breakpoint(small){
				font-size: 26px;
			}
			a{
				@extend %heading-color;
				&:hover{
					@extend %primary-color;
				}
			}
		}
		&-price-wrapper{
			span{
				@extend %price;
				font-size: 24px;
				&.old-price{
					@extend %oldprice;
				}
				&.money-separator{
					padding: 0 10px;
				}
			}
		}
		&-footer-meta{
			p{
				a{
					@extend %fontWeight700;
				}
			}
		}
	}
}

/*-- 31.02 - Proudct Gallery --*/

.product-gallery{
	&__large-image{

	}
	&__image{
		background: #EEEEEE;
		padding: 10rem;
		img{
			@extend %width100;
		}
	}
	&__nav-image{
		&--single{
			cursor: pointer;
			img{
				background: #EEEEEE;
				padding: 30px;
			}
		}
	}
}