/*****************************
37 - Components - Social
*****************************/


.social{
	&__item{
		display: inline-block;
	}
	&-round{
		.social{
			&__item{
				&:not(:last-child){
					margin-right: 5px;
				}
			}
			&__link{
				@include circleCenter(35);
				@extend %displayInlineBlock;
				@extend %fontSize14;
				@extend %dove-gray; 
				@extend %athens-gray-bg;
				&:hover{
					@extend %primary-bg-color;
					@extend %white-color;
				}
			}
		}
		&.social-big{
			.social{
				&__link{
					@include circleCenter(48);
					@extend %fontSize16;
				}
			}
		}
	}
	&-with-text{
		.social{
			&__item{
				line-height: 36px;
			}
			&__icon{
				width: 12px;
				font-size: 14px;
				margin-right: 15px;
			}
			&__text{
				font-size: 15px;
			}
		}
	}
	&.white-bg{
		.social{
			&__link{
				@extend %white-bg-color;
			}
		}
	}
}