/*****************************
38 - Components - Table
*****************************/

.table{
	margin-bottom: 0;
	thead th, th{
		text-transform: uppercase;
		padding: 9px 12px;
		letter-spacing: 1px;
		font-weight: 400;
		border-bottom-width: 0;
		vertical-align: middle;
		background-color: $primary-color;
		color: $color-white;
		font-weight: 700;
		text-transform: capitalize;
		&:not(:last-child){
			border-right: 1px solid rgba(51, 51, 51, 0.1);
		}
	}
	td{
		vertical-align: middle;
		border: 0px solid $border-color-3;
	}
	th, td{
		min-width: 100px;
		&.wide-column{
			min-width: 240px;
		}
	}
	tbody{
		td{
			padding: 15px 0;

			&.product{
				&-remove{
					i{
					    font-size: 30px;
					    font-weight: 700;
						color: $heading-color;
					}
				}
				&-thumbnail{
					background-color: transparent;;
					width: auto;
					img{
						width: 32px;
						height: auto;
					}
				}
				&-name{
					h3{
						font-size: 16px;
						line-height: 20px;
					}
				}
				&-price{

				}
				&-quantity{

				}
				&-total-price{
					@extend %price;
				}
			}
		}
	}
	&.shop_attributes{
		max-width: 820px;
		margin: 0 auto;
		th,td{
			padding: 4px 0;
			font-size: 14px;
			text-transform: none;
			line-height: 22px;

			a{
				@extend %body-color;
				&:hover{
					@extend %primary-color;
				}
			}
		}
		th{
			color: #181818;
			font-weight: 400;
			min-width: 140px;
		}
	}
	&.order-table{
		th{
			background-color: transparent;
			@extend %heading-color;
			border: none !important;
		}
	}
}


