/*****************************
41 - Components - Testimonial
*****************************/

.testimonial{
	&__inner{
		padding-top: 18px;
	} 
	&__text{
	    margin-bottom: 20px;
	    border-radius: 4px;
	    padding: 30px;
	    @extend %posrelative;
	    @extend %white-bg-color;
	    &:before{
			@extend %testimonialQuote;
	    }
	    &:after{
	    	@extend %pseudo;
	    	@extend %white-bg-color;
			width: 16px;
			height: 16px;
			bottom: -8px;
			left: 26px;
			@include border-radius(2px);
			@include transform(rotate(45deg));
	    }
	}
	&__author{
		@extend %verticalFlexCenter;
		&--img{
			margin-right: 20px; 
			img{
				@include circle(70);
			}
		}
		&--name{
			@extend %white-color;
			@extend %fontWeight700;
			@extend %fontSize16;
		    line-height: 1.8;
		}
		&--role{
			@extend %white-color;
			@extend %fontSize16;
			@extend %fontWeight300;
		} 
	}

	&-style-2{
		.testimonial{
			&__inner{
				padding-top: 0;
			}
			&__info{
				padding-left: 200px;
				min-height: 170px;
				@extend %posrelative;
				@include breakpoint(medium){
					padding-left: 0;
					text-align: center;
				}
			}
			&__text{
				margin-bottom: 3rem;
				background-color: transparent;
				padding: 0;
				&:before, &:after{
					display: none;
				}
				p{
					color: $color-salice;
				}
			}
			&__author{
				display: block;
				&--name, 
				&--separator, 
				&--role{
					@extend %fontWeight700;
					@extend %white-color;
				}
				&--separator{
					padding: 0 2px;
				}
				&--img{
					@extend %posabsolute;
					left: 0;
					top: 0;
					margin-right: 0;
					@include breakpoint(medium){
						position: relative !important;
						left: auto;
						top: auto;
						margin-bottom: 5px;
					}
					img{
						@include circle(170);
						@include breakpoint(medium){
							margin: 0 auto;
						}
					}
				}
			}
		}
	}
	&-style-3{
		.testimonial{
			&__text{
				p{
					font-size: 20px;
					font-style: italic;
				}
			}
			&__author{
				&--name{
					margin-bottom: 0;
				}
				&--name,
				&--role{
					@extend %heading-color;
				}
				&--role{

				}
			}
		}
	}
	&-style-4{
		.testimonial{
			&__inner{
			}
			&__author--img{
				@extend %posabsolute;
				left: 0;
				top: 0;
				width: 270px;
				height: 190px;
				margin-right: 0;
				@include breakpoint(large){
					position: relative !important;
					width: 100%;
					height: 100%;
				}
				img{
					width: 100%;
					height: auto;
					@include border-radius(0);
				}
			}
			&__info{
				padding-left: 300px;
				@extend %posrelative;
				@include breakpoint(large){
					padding-left: 0;
				}
				&:before{
					@extend %testimonialQuote;
					left: 210px !important;
					@include breakpoint(large){
					    left: auto !important;
					    right: 30px;
					}	
				}
			}
			&__text{
				margin: 0;
				padding: 0;
				@extend %transparent-bg;
				&:before,
				&:after{
					display: none;
				}
			}
			&__author{
				display: block;
				margin-bottom: 5px;
				&--name{
					color: $color-shaft;
					font-size: 20px;
					line-height: 1.8;
					margin-bottom: 0;
				}
				&--role{
				    color: $color-dove-gray;
				    @extend %fontWeight400;
				    @extend %fontSize16;
				    @extend %displayBlock;
				}
			}
		}
		&.white-color{
			.testimonial{
				&__text{
					p{
						@extend %white-color;
					}
				}
				&__author{
					&--name{
						@extend %white-color;
					}
					&--role{
					    color: $color-salice;
					}
				}
			}
		}
	}
	&-style-5{
		.testimonial{
			&__text{
				@extend %transparent-bg;
				@extend %borderRadius;
				border: 1px solid $border-color;
				&:after{
					border-width: 0 1px 1px 0px;
					border-style: solid;
					border-color: $border-color;
				}
			}
			&__author{
				&--name, &--role{
					@extend %heading-color;
				}
			}
		}
	}
}