/*****************************
42 - Components - Timeline
*****************************/

.timeline{
	padding-left: 310px;
	@include breakpoint(medium){
		padding-left: 0;
	}
	&__item{
		@extend %posrelative;
		padding-left: 20px;
		min-height: 160px;
	    h4{
	    	line-height: .8;
	    	margin-bottom: 10px;
	    }
	    &:after{
			@extend %pseudo;
		    @extend %primary-bg-color;
		    @include circle(14);
		    left: -7px;
		    top: 0px;
		    z-index: 2;
	    }
	    &:not(:last-child){
			padding-bottom: 4rem;
		    &:before{
		    	@extend %pseudo;
			    width: 2px;
			    height: 100%;
			    left: -1px;
			    top: 4px;
			    z-index: 1;
			    background: $border-color;
		    }
	    }
	}
	&__image{
		@extend %posabsolute;
		left: -310px;
		@include breakpoint(medium){
			left: 0;
			position: relative !important;
			margin-bottom: 10px;
		}
		img{
			max-width: 270px;
			height: 120px;
		}
	}
	&--2{
		padding-left: 0;
		.timeline{
			&__item{
				min-height: auto;
			}
		}
	}
}