/*****************************
00. Global CSS
*****************************/

//===== Colors =====//
 
$body-color: #444444;
$primary-color: #3768b4;
$heading-color: #222222;


//===== Font Family =====//

$body-font: 'Roboto', sans-serif;
$heading-font: $body-font;
$font-2: 'Open Sans', sans-serif;

//==== Font size =====//
$body-font-size: 16px;
$font-size-14: 14px;

//==== Line height ====//

$line-height: 1.8;
$heading-line-height: 1.5;

//==== Border Color ====//

$border-color:   #dddddd;
$border-color-2: rgba(255, 255, 255, .1);
$border-color-3: #eeeeee;


//==== Border Radius ====//

$border-radius: 4px;


//==== Color =====//
$color-white:    	   #ffffff;
$color-white-dark:     #f6f6f6;
$color-light:    	   #999999; 
$color-dark:     	   #333333; 
$color-black:    	   #000000; 
$color-blue:     	   #3768b4;
$color-blue-2:     	   #3769B5;
$color-copper:     	   #b87333;
$color-dove-gray:  	   #666666;
$color-athens-gray:    #F2F2F5;
$color-old-rose:   	   #c18775;
$color-yellow:         #FFCA28;
$color-red:            #c2080f;
$color-red-2:          #c4181d;
$color-pink:           #f7a4c7;
$color-pink-2:         #f178ba;
$color-green:          #4cbb6c;
$color-gray:           #888888;
$color-gray-2:         #858585;
$color-gray-3:         #454541;
$color-sand:           #f6f6f6;
$color-alto:           #dddddd;
$color-brown:          #221815;
$color-silver:         #cccccc;
$color-salice:         #aaaaaa;
$color-shaft:          #202020;
$color-shaft-1:        #212121;
$color-gallery:        #eeeeee;
$color-emp:            #515151;

//==== Social Color =====//

$facebook: #1561b7;
$google-plus: #c2080f;
$pinterest: #c2080f;
$twitter: #4696f0;
